<todoform></todoform>
<viewModel module="TodoList">
  <div class="todo-list">
    <div class="todos" data-bind="foreach: todos">
      <!-- css: binding adds isDone class when TodoItem is 'completed' -->
      <div class="todo" data-bind="css: { isDone: isDone }">
        <!-- click: binding toggles status of the TodoItem -->
        <div class="status icon-check" data-bind="click: toggleDone"></div>
        <div class="text" data-bind="text: thingToDo"></div>
        <div class="clear icon-x"></div>
      </div>
    </div>
  </div>
</viewModel>